apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: judge0-db-pvc
  namespace: leetcode-clone
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  storageClassName: standard
